.corporate_home_form {
    float:left;
    margin-top:50px;
    width:60%;
    height:600px;
    margin-left:30%;
}
.home_btn1 {
    float:left;
    width:400px;
    height:60px;
    color:white;
    clear:both;
    margin-top:30px;
    padding:5px;
    font-weight:bolder;
    /*background-image:url("../Images/fibre-lights-orange.jpg");*/
    background-color:#000000;
    border:2px outset black;
   
}
