.corporate_ref_form {
    float:left;
    width:90%;
    height:1500px;
    margin:5%;
    margin-top:0px;
    
}
.corporate_ref_form_2 {
    float:left;
    width:90%;
    height:8500px;
    margin:5%;
    margin-top:0px;
    
}
.top_cover {
    float:left;
    margin:0px;
    padding:0px;
    background-color:ActiveBorder;
    height:2.5%;
    
    width:100%;
}
.title {
    float:left;
    line-height:1em;
    margin-left:1%;
}
.account_info {
    float:left;
    width:99.8%;
    height:12.5%;
    
    color:black;
    background-color:whitesmoke;
    margin-bottom:25px;
    

}
.tag {
    float:left;
    font-size:15px;
    margin-left:1%;
    line-height:1.5em;
    clear:left;
    width:15%;  
}
.input {
    float:left;
    width:15%;
    height:18px;
    margin-top:15px;
    clear:right;   
}
.input_large {
    float:left;
    width:55%;
    height:18px;
    margin-top:15px;
    clear:right;   
}
.text_area {
    float:left;
    height:110px;
    width:70%;
    margin-top:18px;
    margin-left:5px;
}
.contact_details {

    float:left;
    width:99.8%;
    height:55%;
   
    color:black;
    background-color:whitesmoke;
    margin-bottom:25px;
}
.contact_details_large {

    float:left;
    width:99.8%;
    height:55%;
   
    color:black;
    background-color:whitesmoke;
    margin-bottom:25px;
}
.heading {
    float:left;
    margin-top:15px;
    margin-left:35%;
    color:blue;
}
.err_div {
    float:left;
    background-color:wheat;
    width:50%;
    height:200px;
    line-height:1.5em;
    margin-left:20%;
    margin-bottom:5px;
    text-align:center;
}
.lister {
    color:red;
}
.err {
    float:left;
    clear:left;
    margin-left:25%;
    color:red;
    margin-top:0px;
    margin-bottom:0px;
}
.terms {
    float:left;
    clear:left;
    margin-left:25%;
    margin-bottom:15px;
    margin-top:23px;

}
.terms_2 {
    float:left;
    clear:left;
    margin-left:5%;
    margin-top:2%;

}
.cond {
    float:left;
    margin:0px;
    margin-top:20px;
}
.cond_2 {
    float:left;
    margin:0px;
    margin-top:10px;
}
.register {
    float:left;
    padding:5px;
    margin:20px;
    margin-top:10px;
    background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
    width:20%;
    height:40px;
    border-bottom-right-radius:30px;
    border-top-left-radius:30px;
    color:white;
    
}
