.corporate_div {
    float:left;
    width:60%;
    height:300px;
    background-color:whitesmoke;
    margin-left:15%;
    margin-top:50px;
    padding:5px;
    border:1px outset silver;
    border-radius:10px;
   
}
.button {
    float:left;
    clear:left;
    margin-top:30px;
    margin-left:25%;
    width:320px;
    padding:5px;
    line-height:1.5em;
    font-weight:bolder;
    color:white;
    background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
border-bottom-left-radius:30px;
border-top-right-radius:30px;
}
