.job_add_div {
    float:left;
    width:50%;
    margin-left:20%;
    background-color:whitesmoke;
    border:1px solid black;
    padding:5%;
    margin-top:10px;
}
.list {
    float:left;
    margin-left:0px;
    clear:left;
}
.title {
    float:left;
    color:aqua;
    font-weight:bolder;
    padding:0px;
    margin:0px;
    font-size:25px;
    line-height:1.5em;
}
.desc {
    float:left;
    padding:0px;
    margin:0px;
    line-height:2.5em;
    clear:left;
    margin-left:15px;

}
.tag {
    float:left;
    font-weight:bolder;
    padding:0px;
    margin:0px;
    clear:left;
    line-height:2.5em;
}
.job_title {
    color:green;
    font-weight:bolder;
    line-height:1.5em;
    font-size:20px;
    float:left;
    margin:0px;
    clear:left;
}
.apply_for_job_div {
    float:left;
    width:40%;
    margin-left:35%;
    clear:left;
    padding:2%;
}
.apply_online_button {
    float:left;
    width:30%;
    height:50px;
    margin-left:65px;
    padding:2px;
    background-color:red;
    color:white;
    font-weight:bolder;
}
.email {
    float:left;
    font-weight:bolder;
    color:blue;
    margin-left:1px;
}
.or {
    clear:left;
    margin-left:27%;
    font-weight:bolder;
    color:blue;
}