.search_form {
    float:left;
    background-color:red;
    width:50%;
    height:300px;
    margin-left:20%;
}
.tag {
    margin-left:5%;
    clear:left;
    width:10%;
}
.input {
    float:left;
    margin-left:1%;

}
