table {
    float:left;
    margin-top:20px;
    margin-left:5%;
    width:90%;
    text-align:center;
    padding:5px;
}
.td_name {
    width:35%;

}
.td_age {
    width:15%;
}
.td_exp {
    width:15%;
}
.td_link {
    width:35%;
}

.r1{
    background-color:silver;
}
.head {
    background-color:silver;
    font-weight:bolder;
}


.add_div {
    float:left;
    background-color:red;
    width:50%;
    height:350px;
    margin-left:20%;
    margin-top:3%;
}
.tag {
    margin-left:5%;
}

